{{> header }}
<div class="jumbotron" style="margin-top:150px; margin-bottom:100px">
  <div class="container text-center">
    <h1>403</h1>
    <h2>Accès non autorisé.</h2>
  </div>
</div>
{{> footer }}
