<!-- MODAL FOR CONTACT -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">contact us</h4>
			</div>
			<div class="modal-body">
						<div class="row centered">
								<p>We are available 24/7, so do not hesitate to contact us.</p>
								<p>
										Avenue du Parc<br/>
										Paris, France<br/>
										+33 1 30 17 08 46<br/>
										contact@atilla.org
								</p>
								<div id="mapwrap">
		<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=49.034689,2.070966&amp;spn=0.004741,0.013078&amp;z=17&amp;output=embed"></iframe>
								</div>
						</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Piwik -->
<script type="text/javascript">
	var _paq=_paq||[];_paq.push(["setDocumentTitle",document.domain+"/"+document.title]),_paq.push(["trackPageView"]),_paq.push(["enableLinkTracking"]),function(){var t=("https:"==document.location.protocol?"https":"http")+"://www.eistiens.net/stats/";_paq.push(["setTrackerUrl",t+"piwik.php"]),_paq.push(["setSiteId",2]);var e=document,a=e.createElement("script"),p=e.getElementsByTagName("script")[0];a.type="text/javascript",a.defer=!0,a.async=!0,a.src=t+"piwik.js",p.parentNode.insertBefore(a,p)}();
</script>
<noscript><p><img src="http://www.eistiens.net/stats/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
</body>
</html>

<!-- FOOTER -->
<div id="f">
		<div class="container">
				<div class="row centered">
						<div class="col-md-5">
								<h4>Services :</h4>
								<ul>
										<div class="row fluid">
												<div class="col-md-4">
														<li><a href="http://paste.atilla.org">paste.atilla.org</a></li>
														<li><a href="http://pad.atilla.org">pad.atilla.org</a></li>
												</div>
												<div class="col-md-4">
														<li><a href="http://doc.atilla.org">doc.atilla.org</a></li>
														<li><a href="http://rer.atilla.org">rer.atilla.org</a></li>
												</div>
												<div class="col-md-4">
														<li><a href="http://edt.atilla.org">edt.atilla.org</a></li>
												</div>
										</div>
								</ul>
						</div>

						<div class="col-md-5">
								<a href="https://twitter.com/CY106"><i class="fa fa-twitter"></i></a>
								<a href="https://www.facebook.com/groups/172750229447684/"><i class="fa fa-facebook"></i></a>
								<a href="http://gitlab.etude.eisti.fr/groups/atilla"><i class="fa fa-git-square"></i></a>
						</div>
				</div><!-- row -->
		</div><!-- container -->
</div><!-- Footer -->
