<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{description}}">
  <meta name="author" content="">
  <link rel="shortcut icon" href="https://cdn.atilla.org/ico/favicon.ico">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="assets/css/main.css" rel="stylesheet">


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <!-- WRAP -->
  <div id="wrap">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://atilla.org"><img src="assets/img/logo.png" height="60"></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="{{index}}"><a href="index.html">ACCUEIL</a></li>
          <li class="{{about}}"><a href="about.html">À PROPOS</a></li>
          <li class="{{press}}"><a href="press.html">PRESSE</a></li>
          <li><a href="http://learn.atilla.org" target="_blank">FORMATIONS</a></li>
          <li><a href="http://peertube.atilla.org" target="_blank">PEERTUBE</a></li>
          <li><a href="http://blog.atilla.org" target="_blank">BLOG</a></li>
          <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
