{{> header }}
 <script src="assets/js/Chart.js"></script>
<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>LEARN MORE ABOUT US</h4>
        <p>WE ARE COOL PEOPLE</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!--  bluewrap -->


<div class="container w">
  <div class="row centered">
    <br><br>
    {{#members}}
    <div class="col-lg-3 member-description">
      <h4>{{role}}</h4>
        {{! If / else structure that tests wether img_url is defined for the current member. }}
        {{! As mustache templates are supposed to be logic-less, some repetition is needed to do the trick. }}
        <img class="img-circle" src="{{#img_url}}{{img_url}}{{/img_url}}{{^img_url}}https://cdn.atilla.org/img/default_avatar.png{{/img_url}}" width="110" height="110" />
      <h4>{{name}}</h4>
      <p>{{description}}</p>
    </div><!-- col-lg-3 -->
    {{/members}}

  </div><!-- row -->
</div><!-- container -->


<!-- PORTFOLIO SECTION -->
<div id="dg">
  <div class="container">
    <div class="row centered">
      <h4>NOS COMPÉTENCES</h4>
      <br>
      {{#skills}}
      <!-- First Chart -->
      <div class="col-lg-3">
        <canvas id="canvas_{{id}}" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: {{known}},
            color:"#3498db"
          },
          {
            value : 100 - {{known}},
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas_{{id}}").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>{{name}}</b></p>
      </div><!-- /col-lg-3 -->
      {{/skills}}

    </div><!-- row -->
  </div><!-- container -->
</div><!-- DG -->


<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>NOUS SOMMES DES ÉTUDIANTS PASSIONNÉS. PARTAGEONS CETTE PASSION.</h4>
        <p>Chacun des membres d'ATILLA dispose d'une palette de connaissances et de spécialités qu'il est prêt à partager. Mutualiser ses expertises nous permet de réaliser toute sorte de projets afin d'améliorer le quotidien des étudiants de l'EISTI et améliorer l'infrastructure de l'association.</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- r wrap -->

{{> footer }}
