{{> header }}
 <script src="assets/js/Chart.js"></script>
<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>LEARN MORE ABOUT US</h4>
        <p>WE ARE COOL PEOPLE</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!--  bluewrap -->


<div class="container w">
  <div class="row centered">
    <br><br>
    {{#members}}
    <div class="col-lg-3">
      <h4>{{role}}</h4>
      <img class="img-circle" src="{{img_url}}" width="110" height="110" alt="">
      <h4>{{name}}</h4>
      <p>{{description}}</p>
    </div><!-- col-lg-3 -->
    {{/members}}

  </div><!-- row -->
</div><!-- container -->


<!-- PORTFOLIO SECTION -->
<div id="dg">
  <div class="container">
    <div class="row centered">
      <h4>NOS COMPÉTENCES</h4>
      <br>

      <!-- First Chart -->
      <div class="col-lg-3">
        <canvas id="canvas" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: 80,
            color:"#3498db"
          },
          {
            value : 20,
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>Python</b></p>
      </div><!-- /col-lg-3 -->

      <!-- Second Chart -->
      <div class="col-lg-3">
        <canvas id="canvas2" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: 70,
            color:"#3498db"
          },
          {
            value : 30,
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas2").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>Web Development</b></p>
      </div><!-- /col-lg-3 -->

      <!-- Third Chart -->
      <div class="col-lg-3">
        <canvas id="canvas3" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: 50,
            color:"#3498db"
          },
          {
            value : 50,
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas3").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>Java</b></p>
      </div><!-- /col-lg-3 -->

      <!-- Fourth Chart -->
      <div class="col-lg-3">
        <canvas id="canvas4" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: 60,
            color:"#3498db"
          },
          {
            value : 40,
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas4").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>Système et Réseau</b></p>
      </div><!-- /col-lg-3 -->


      <!-- First Chart -->
      <div class="col-lg-3">
        <canvas id="canvas5" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: 80,
            color:"#3498db"
          },
          {
            value : 20,
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas5").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>Algorithmique</b></p>
      </div><!-- /col-lg-3 -->

      <!-- Second Chart -->
      <div class="col-lg-3">
        <canvas id="canvas6" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: 70,
            color:"#3498db"
          },
          {
            value : 30,
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas6").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>Sécurité</b></p>
      </div><!-- /col-lg-3 -->

      <!-- Third Chart -->
      <div class="col-lg-3">
        <canvas id="canvas7" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: 90,
            color:"#3498db"
          },
          {
            value : 10,
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas7").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>Mathématiques</b></p>
      </div><!-- /col-lg-3 -->

      <!-- Fourth Chart -->
      <div class="col-lg-3">
        <canvas id="canvas8" height="130" width="130"></canvas>
        <br>
        <script>
        var doughnutData = [
          {
            value: 40,
            color:"#3498db"
          },
          {
            value : 60,
            color : "#ecf0f1"
          }
        ];
        var myDoughnut = new Chart(document.getElementById("canvas8").getContext("2d")).Doughnut(doughnutData);
        </script>
        <p><b>Électronique</b></p>
      </div><!-- /col-lg-3 -->


    </div><!-- row -->
  </div><!-- container -->
</div><!-- DG -->


<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>NOUS SOMMES DES ÉTUDIANTS PASSIONNÉS. PARTAGEONS CETTE PASSION.</h4>
        <p>Chacun des membres d'ATILLA dispose d'une palette de connaissances et de spécialités qu'il est prêt à partager. Mutualiser ses expertises nous permet de réaliser toute sorte de projets afin d'améliorer le quotidien des étudiants de l'EISTI et améliorer l'infrastructure de l'association.</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- r wrap -->

{{> footer }}
