{{> header }}
<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>PRESSE</h4>
        <p>INFORMATIONS PRESSE ET RESSOURECES GRAPHIQUES OFFICIELLES</p>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!--  bluewrap -->

<div class="container">
  <h2>Ressources graphiques <a href="assets/img/atilla.zip"><span class="fa fa-download"></span></a></h2>
  <p>
    Vous pouvez utiliser les ressources graphiques contenues dans cette archive
    pour toutes les communications à propos d'ATILLA.
  </p>
  <hr>
  <h2>Communiqués de presse</h2>
  <br>
  <div class="row">
    {{#press-releases}}
    <div class="col-sm-1 centered">
      <a href="{{link}}">
        <span class="fa fa-download fa-3x"></span>
      </a>
    </div>
    <div class="col-sm-11">
      <h4 class="media-heading">{{title}}</h4>
      <p>
        {{description}}
      </p>
      <p class="text-right">
        <i>Publié le {{date}}</i>
      </p>
    </div>
    {{/press-releases}}
  </div>

</div>

{{> footer }}
